$main-color: black;
$second-color: white;
$shadow-color: gray;
$button-border: blue;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
}

.productHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 10px $shadow-color;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logoImage {
  height: 30px;
}

.logoText {
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 800;
  color: $second-color;
  height: 20px;
  width: 60px;
  text-align: center;
  background-color: $main-color;
  text-transform: uppercase;
  border-radius: 3px;
}
.headerButton {
  color: $shadow-color;
  font-weight: 600;
  margin-right: 20px;
  height: 30px;
  border: none;
  outline: none;
  background-color: $second-color;
  &:hover {
    color: $main-color;
  }
}

.addProductForm {
  position: relative;
  display: inline-block;
  margin: 100px;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: $second-color;
  box-shadow: 0px 0px 30px $shadow-color;
}

.formWarning {
  position: absolute;
  left: 0px;
}

.productName {
  position: relative;
}

.productFormTitle {
  font-size: 24px;
}

.productFormInput {
  height: 30px;
  margin-top: 15px;
}

.productFormButtonContainer {
  margin-top: 30px;
}

.productFormButton {
  font-size: 16px;
  color: $second-color;
  padding: 10px;
  border: none;
  background: $main-color;
  &:hover {
    border: 1px solid $button-border;
    outline: $button-border;
  }
}

.productListContainer {
  width: 90%;
  margin: 0 auto;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.productListTitle {
  font-size: 20px;
}

.productListItem {
  position: relative;
  width: 300px;
  min-height: 630px;
  list-style: none;
  margin: 20px;
}

.productImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.productDescription {
  overflow: hidden;
  height: 150px;
}

.productButton {
  position: absolute;
  padding-top: 10px;
  bottom: 5px;
  font-size: 18px;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  &:hover {
    border: 1px solid $main-color;
  }
}
.productImageUrl {
  white-space: nowrap;
  overflow: hidden;
}

.productUpgrateButton,
.productDeleteButton {
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  &:hover {
    border: 1px solid $main-color;
  }
}
